*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #252525;
    overflow: hidden;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    gap: 15px;
}
.ball{
    background-color: rgb(252, 252, 252);
    height: 0px;
    width: 0px;
    display: flex;
    border-radius: 50%;
    position: absolute;
    transition: height .6s ease, width .6s ease , top 3s linear ;
    transform: translate(-50% , -50%);

}
.active{
    width: 60px;
    height: 60px;
}
.cont{
    color: grey;
    font-size: 120px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.modo{
    width: 100px;
    height: 100px;
    border: 3px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    font-family: arial;
    cursor: pointer;
    font-weight: bold;
}
.mactive{
    border: 3px solid white;
    
}